html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --white: #f9f6f4;
  --dark: #2b2928;
  --blue: #1c3b68;
	--primary-font:   "Poppins", serif;
	--secondary-font: "Noticia Text", serif;
	--tertiary-font: "Lora", serif;
}

/* START CSS */
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 50px;
  color: white;
  border-radius: 25px;
  background-color: var(--dark);
}

.judul{
  font-size: 60px;
  font-family: var(--secondary-font);
  margin: 20px 50px;
  color: black;
}

.form-kiri{
  font-family: var(--primary-font);
  padding: 30px;
  width: 600px;
}

.form-kiri h1{
  font-family: var(--tertiary-font);
  font-style: italic;
  font-size: 60px;
}

.form-kiri p{
  margin-top: 15px;
  font-size: 27px;
}

.form-kiri a{
  color: rgb(0, 154, 205);
}

form label {
  display: block;
  color: #ccc; /* Light gray label */
  margin-bottom: 5px;
}

form input, form select { /* Common styles for all input fields */
  width: 100%; 
  padding: 10 0px;
  border: none;
  border-bottom: 1px solid #ccc; 
  background-color: transparent;
  color: #fff; 
  font-size: 20px;
}


form input:focus, form select:focus {
  outline: none;
  border-bottom: 2px solid #fff; /* Highlight on focus */
}

select option {
  background: var(--dark);
  color: var(--white);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

button {
  width: 300px;
  font-size: 30px;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: var(--blue); 
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: var(--white);
  color: black;
  transition: 0.5s;
}

.container img{
  width: 650px;
  height: 550px;
  border-radius: 20px;
  margin-top: 40px;
  margin-right: 50px;
}